
body {
	background-color: #fff;
  margin: 0;
}
h1 {
	font-family: 'Quattrocento Sans', "sans-serif";
	font-size: 40px;
	float: center;
	padding-top: 50px;
	margin: 0 0 0 20px;
}
h1
h2 {
  font-family: "Quattrocento";
	font-size: 40px;
}
h2

imgframe
    { background:#D652D9;
    padding:12px;
    border:1px solid #999; }